<html>
    <h1 align = "center"> Admin Pannel</h1>
    <table align = "center">
        <tr>
            <th><h2><b>Register for User</b></h2></th>
        </tr>
        <tr>
            <td><a href="registration_ad.php">Admin</a></td>
        </tr>
        <tr>
            <td><a href="registration_pa.php">pathologist</a></td>
        </tr>
        <tr>
            <td><a href="registration_rec.php">Receptionist</a></td>
        </tr>
        <tr>
            <td><a href="registration_doc.php">Doctor</a></td>
        </tr>
        <tr>
            <td><a href="registration_pha.php">Pharmacist</a></td>
        </tr>
        <tr>
            <td><a href="registration_acc.php">Accountant</a></td>
        </tr>
    </table>

</html>


   